# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [19]:
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [4]:
# Set the date column as the DataFrame index
df.set_index(["date"], inplace=True,)

### Compare June and December data across all years

In [5]:
from scipy import stats

In [12]:
# Filter data for desired months
# df[df["date"].dt.month_name() == "June"]

In [14]:
# Identify the average temperature for June
avg_june_temp=df[df[date].str.slice(start=5, stop=7)=='06'].groupby(df['station']).mean()
# avg_dec_temp=df[df['date'].str.slice(start=5, stop=7)=='12'].groupby(df['station']).mean()

NameError: name 'date' is not defined

In [17]:
# Identify the average temperature for June
june_avg=df[df['date'].str.slice(start=5, stop=7)=='06'].groupby(df['station']).mean()

KeyError: 'date'

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis